#main-div {
  width: 80%;
  margin: 2% auto;
}

#main-div table {
  width: 100%;
  margin: auto;
}

#search-bar {
  padding: 1% 0 0 2%;
}

#pagination-bar {
  padding: 1% 0 0 2%;
}

#search-button {
  float: right;
  margin-right: 1%;
}

#pagination-buttons {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 1.5%;
  margin-top: 0.5%;
  transform: scale(1.15);
}

.file-tag {
  user-select: none;
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  display: inline-block;
  border-radius: 5px;
  padding: 0 0.5% 0 0.5%;
  background-color: #e9f9ff;
  margin: 0.5% 1.5% 0.5% 0;
}

.file-tag:hover {
  background-color: #d9e9ff;
}

.description-column {
  user-select: none;
  display: inline-block;
}

.description-column:hover {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 10px;
  padding: 1%;
}
