#main-div {
  width: 80%;
  margin: 2% auto;
}

#main-div table {
  width: 100%;
  margin: auto;
}

#search-bar {
  padding: 1% 0 0 2%;
}

#pagination-bar {
  padding: 1% 0 0 2%;
}

#search-button {
  float: right;
  margin-right: 1%;
}

#pagination-buttons {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 1.5%;
  margin-top: 0.5%;
  transform: scale(1.15);
}
