<div class="mat-elevation-z8" id="main-div">

  <div id="search-bar">
    <mat-form-field>
      <label>
        <input (keyup.enter)="usernameIsValid() && getFirstPageOfGistsForUsername()" [(ngModel)]="username" matInput placeholder="Username">
      </label>
    </mat-form-field>

    <ng-container>
      <button (click)="getFirstPageOfGistsForUsername()" [disabled]="!usernameIsValid()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </ng-container>
  </div>

  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
      <td *matCellDef="let gist" mat-cell style="width: 55%;">
        <div (click)="displayGist(gist)" class="description-column">{{formatDescription(gist.description)}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="filesTags">
      <th *matHeaderCellDef mat-header-cell>File Tags</th>
      <td *matCellDef="let gist" mat-cell style="width: 27.5%;">
        <div *ngIf="gist.tags.size === 0">No available tags.</div>
        <div *ngIf="gist.tags.size > 0">
          <div *ngFor="let fileLanguage of gist.tags; trackBy: trackByFn" class="file-tag">#{{fileLanguage}}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th *matHeaderCellDef mat-header-cell>Creation Date</th>
      <td *matCellDef="let gist" mat-cell style="width: 12.5%;"> {{formatDate(gist.created_at)}} </td>
    </ng-container>

    <ng-container matColumnDef="viewFilesButton">
      <th *matHeaderCellDef mat-header-cell>Files</th>
      <td *matCellDef="let gist" mat-cell style="width: 7.5%;">
        <button (click)="viewFilesForGist(gist)" mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="viewForksButton">
      <th *matHeaderCellDef mat-header-cell>Forks</th>
      <td *matCellDef="let gist" mat-cell style="width: 7.5%;">
        <button (click)="viewForksForGist(gist)" mat-icon-button>
          <mat-icon>call_split</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>

  <div id="pagination-bar">

    <mat-form-field>
      <mat-label>Items Per Page</mat-label>
      <mat-select (ngModelChange)="updateItemsPerPageAndFetchGists($event)" [(ngModel)]="itemsPerPage">
        <mat-option *ngFor="let pageOption of itemsPerPageOptions; trackBy: trackByFn" [value]="pageOption">
          {{pageOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div id="pagination-buttons">

      <ng-container>
        <button (click)="getPreviousPage()" [disabled]="!(currentPage > 1 && usernameIsValid() && alreadyFetchedData())" mat-icon-button>
          <mat-icon>navigate_before</mat-icon>
        </button>
      </ng-container>

      <div>{{this.currentPage}}</div>

      <ng-container>
        <button (click)="getNextPage()" [disabled]="!(usernameIsValid() && moreItemsExist() && alreadyFetchedData())" mat-icon-button>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </ng-container>

    </div>

  </div>

</div>
