.username {
  margin-left: 1.5%;
}

.username:hover {
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
}

li {
  user-select: none;
  cursor: pointer;
}

.avatar-img {
  vertical-align: middle;
  width: 5%;
  height: 5%;
}
